<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-cpu"></i>
                </div>
                <span class="b-title">Genosis Inc.</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Project Rocket Managment IT Tool" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li data-username="Tickets" 
                class="nav-item {% if 'ticket' in segment %} active {% endif %}">
                <a href="/tickets.html" class="nav-link">
                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                        <span class="pcoded-mtext">Tickets</span></a>
                </li>   
                <li data-username="Invoices" 
                class="nav-item {% if 'profile' in segment %} active {% endif %}">
                <a href="/invoices.html" class="nav-link">
                    <span class="pcoded-micon"><i class="feather icon-file"></i></span>
                        <span class="pcoded-mtext">Invoices</span></a>
                </li>          
                <li class="nav-item pcoded-menu-caption">
                    <label>Settings</label>
                </li>
                <li data-username="Manage Users" 
                class="nav-item {% if 'user' in segment %} active {% endif %}">
                <a href="/usermgmt.html" class="nav-link">
                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                        <span class="pcoded-mtext">Manage Users</span></a>
                </li>  
                <li data-username="Account Page" 
                class="nav-item {% if 'profile' in segment %} active {% endif %}">
                <a href="/profile.html" class="nav-link">
                    <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">Account</span></a>
                </li>  
                <li data-username="Authentication Sign up Sign in reset password Change password"
                    class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
                            class="pcoded-mtext">Authentication</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="/register.html" class="" target="_blank">Sign Up</a></li>
                        <li class=""><a href="/login.html" class="" target="_blank">Sign In</a></li>
                        <li class=""><a href="/auth-reset-password.html" class="" target="_blank">Reset Password</a></li>
                    </ul>
                </li>
                <li data-username="Logout Menu" class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>More Resources</label>
                </li>                    
                <li data-username="Support Page" class="nav-item ">
                    <a target="_blank" href="https://github.com/Project-Rocket-IO" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-headphones"></i>
                        </span>
                        <span class="pcoded-mtext">Contact Support</span>
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
