{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Account Settings</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Username</label>
                                                        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                                                               readonly value="{{ request.user.username }}">
                                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                    </div>
                                                </div>                                                
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label {% if not request.user.email %} class="text-danger" {% endif %} 
                                                               for="exampleInputEmail1">Email Address</label>
                                                        <input type="email"
                                                               {% if request.user.email %} readonly value="{{ request.user.email }}" {% endif %}  
                                                               class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                        {% if not request.user.email %}       
                                                            <small id="emailHelp" class="form-text text-danger">
                                                                You don't have an email address associated with this account.
                                                            </small>
                                                        {% endif %}    
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fn">First Name</label>
                                                        <input type="email" class="form-control" id="fn" aria-describedby="emailHelp" placeholder="Your first name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="ln">Last Name</label>
                                                        <input type="email" class="form-control" id="ln" aria-describedby="emailHelp" placeholder="Your last name">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="add">Address</label>
                                                        <input type="email" class="form-control" id="add" aria-describedby="emailHelp" placeholder="Your address">
                                                        <small id="addd" class="form-text text-muted">This is your shipments address</small>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-sm-12 mb-4">
                                                    <div class="form-group">
                                                        <label for="abt">About Info</label>
                                                        <textarea type="email" class="form-control" id="abt" aria-describedby="emailHelp" placeholder="Bio"></textarea>
                                                        <small id="abf" class="form-text text-muted">We'll show this on your profile.</small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <label for="abt">Notifications</label>
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-12">
                                                            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                                <li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Email</a></li>
                                                                <li><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Teams</a></li>
                                                                <li><a class="nav-link text-left" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Slack</a></li>
                                                                <li><a class="nav-link text-left" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Desktop</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-9 col-sm-12">
                                                            <div class="tab-content" id="v-pills-tabContent">
                                                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                                    <p class="mb-0">Get notifications sent directly to your user email</p>
                                                                </div>
                                                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                                    <p class="mb-0">Notifications posted in channels as a bot</p>
                                                                </div>
                                                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                                    <p class="mb-0">Notifications posted in channels as a bot</p>
                                                                </div>
                                                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                                                    <p class="mb-0">Pop-up style notifications displayed right on desktop</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="abt">Two-Factor Authentication</label>
                                                        <br>
                                                        <button type="button" class="btn btn-outline-primary" title="btn btn-outline-primary" data-toggle="tooltip">Enabled</button>
                                                        <button type="button" class="btn btn-outline-light" title="btn btn-outline-light">Disable</button>
                                                        <small id="abf" class="form-text text-muted">Enforced, cannot change.</small>
                                                    </div>
                                                </div>                                                
                                                
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/user/rocket.png" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        {{ request.user.username }}
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        {% if request.user.email %} {{ request.user.email }} {% endif %}
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p>
                                                    This page is your private space.
                                                    <br />
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-facebook"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-slack"></i></a>
                                                <a href="#" class="h6 text-muted d-block m-1"><i
                                                        class="icon feather icon-github"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
