{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ Recent Users ] start-->
                                <div class="col-xl-8 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Manage Users</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tbody>
                                                    <tr>
                                                        <th></th>
                                                        <th>User</th>
                                                        <th>Date Created</th>
                                                        <th>Last Login</th>
                                                        <th>Customize</th>
                                                    </tr>
                                                    <tr class="unread">
                                                        <td><img class="rounded-circle" style="width:40px;"
                                                                    src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="activity-user">
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1">Padmé Amidala</h6>
                                                            <p class="m-0">Associate Technian</p>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">11
                                                                MAY 2022</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted"><i
                                                                class="fas fa-circle text-c-green f-10 m-r-15"></i>Active Now</h6>
                                                        </td>
                                                        <td>
                                                            <a
                                                                href="#!" class="label theme-bg text-white f-12">Edit</a><a href="#!"
                                                                class="label theme-bg2 text-white f-12">Delete</a>
                                                        </td>
                                                    </tr>
                                                    <tr class="unread">
                                                        <td><img class="rounded-circle" style="width:40px;"
                                                                    src="{{ ASSETS_ROOT }}/images/user/avatar-2.jpg" alt="activity-user">
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1">Obiwan Kenobi</h6>
                                                            <p class="m-0">Lead Technian</p>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">7
                                                                SEPT 2020</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted"><i
                                                                class="fas fa-circle text-c-green f-10 m-r-15"></i>Active Now</h6>
                                                        </td>
                                                        <td>
                                                            <a
                                                                href="#!" class="label theme-bg text-white f-12">Edit</a><a href="#!"
                                                                class="label theme-bg2 text-white f-12">Delete</a>
                                                        </td>
                                                    </tr>
                                                    <tr class="unread">
                                                        <td><img class="rounded-circle" style="width:40px;"
                                                                    src="{{ ASSETS_ROOT }}/images/user/avatar-3.jpg" alt="activity-user">
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1">Adi Gallia</h6>
                                                            <p class="m-0">Associate Technician</p>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">4
                                                                FEB 2021</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">10 hours ago</h6>
                                                        </td>
                                                        <td>
                                                            <a
                                                                href="#!" class="label theme-bg text-white f-12">Edit</a><a href="#!"
                                                                class="label theme-bg2 text-white f-12">Delete</a>
                                                        </td>
                                                    </tr>
                                                    <tr class="unread">
                                                        <td><img class="rounded-circle" style="width:40px;"
                                                                    src="{{ ASSETS_ROOT }}/images/user/avatar-4.jpg" alt="activity-user">
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1">Mace Windu</h6>
                                                            <p class="m-0">Intern Technian</p>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">6
                                                                JAN 2023</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">12 hours ago</h6>
                                                        </td>
                                                        <td>
                                                            <a
                                                                href="#!" class="label theme-bg text-white f-12">Edit</a><a href="#!"
                                                                class="label theme-bg2 text-white f-12">Delete</a>
                                                        </td>
                                                    </tr>
                                                    <tr class="unread">
                                                        <td><img class="rounded-circle" style="width:40px;"
                                                                    src="{{ ASSETS_ROOT }}/images/user/avatar-5.jpg" alt="activity-user">
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1">Jabba 'the' Hut</h6>
                                                            <p class="m-0">Networking Guru</p>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">11
                                                                MAY 2018</h6>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">13 hours ago</h6>
                                                        </td>
                                                        <td>
                                                            <a
                                                                href="#!" class="label theme-bg text-white f-12">Edit</a><a href="#!"
                                                                class="label theme-bg2 text-white f-12">Delete</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Recent Users ] end-->
                                <div class="col-xl-8 col-md-12 m-b-30">
                                    <div class="card-header">
                                        <h5>Recent Activity</h5>
                                    </div>
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                                aria-controls="home" aria-selected="false">Today</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active show" id="profile-tab" data-toggle="tab"
                                                href="#profile" role="tab" aria-controls="profile" aria-selected="true">This
                                                Week</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                                                role="tab" aria-controls="contact" aria-selected="false">All</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Activity</th>
                                                    <th>Time</th>
                                                    <th>Status</th>
                                                    <th class="text-right"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                                                                                alt="activity-user">Padmé Amidala</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Update ticket #0004</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">3:28 PM</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-green">Done</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle  m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-2.jpg"
                                                                                alt="activity-user">Obiwan Kenobi</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Waiting Customer Reply</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">2:37 PM</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-red">Missed</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle  m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-3.jpg"
                                                                                alt="activity-user">Adi Gallia</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Client out of office</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">10:23 AM</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-purple">Delayed</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle  m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                                                                                alt="activity-user">Padmé Amidala</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Complete Ticket #0004</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">4:28 PM</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-green">Done</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="tab-pane fade active show" id="profile" role="tabpanel"
                                                aria-labelledby="profile-tab">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Activity</th>
                                                    <th>Time</th>
                                                    <th>Status</th>
                                                    <th class="text-right"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle  m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-2.jpg"
                                                                                alt="activity-user">Obiwan Kenobi</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Remote Desktop sharing</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">5 JAN 2023</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-red">Missed</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                                                                                alt="activity-user">Padmé Amidala</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Received Ticket #0004</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">4 JAN 2023</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-green">Done</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle  m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                                                                                alt="activity-user">Padmé Amidala</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Ran off with Anakin</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">3 JAN 2023</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-green">Done</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle  m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-3.jpg"
                                                                                alt="activity-user">Adi Gallia</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Reset password for the entire senate</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">2 JAN 2023</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-purple">Delayed</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="tab-pane fade" id="contact" role="tabpanel"
                                                aria-labelledby="contact-tab">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Activity</th>
                                                    <th>Time</th>
                                                    <th>Status</th>
                                                    <th class="text-right"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle  m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-3.jpg"
                                                                                alt="activity-user">Adi Gallia</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Reset Password Entire Senate</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">2 JAN 2023</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-purple">Delayed</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-purple f-10"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                                                                                alt="activity-user">Padmé Amidala</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Finished #0004</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">5 JAN 2023</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-green">Done</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle  m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-2.jpg"
                                                                                alt="activity-user">Obiwan Kenobi</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Remote Desktop Sharing</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">2 JAN 2023</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-red">Missed</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-red f-10"></i>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h6 class="m-0"><img class="rounded-circle  m-r-10"
                                                                                style="width:40px;"
                                                                                src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                                                                                alt="activity-user">Padmé Amidala</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">Received Ticket #0004</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0">4 JAN 2023</h6>
                                                    </td>
                                                    <td>
                                                        <h6 class="m-0 text-c-green">Done</h6>
                                                    </td>
                                                    <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
